.hero__title {
  text-align: center;
  margin: 0 0 16px;

  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
}

@media screen and (min-width: 520px) {
  .hero__title {
    margin-bottom: 32px;

    font-size: 64px;
    line-height: 72px;
  }
}

@media screen and (min-width: 720px) {
  .hero__title {
    margin-bottom: 32px;

    font-size: 96px;
    line-height: 100px;
  }
}
