@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Inter-Regular"), local("Inter-regular"), local("Inter regular"), local("InterRegular"),
    url("Inter-Regular.woff2") format("woff2"), url("Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Inter-Bold"), local("Inter-bold"), local("Inter bold"), local("InterBold"),
    url("Inter-Bold.woff2") format("woff2"), url("Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local("Inter-black"), local("Inter-Black"), local("Inter black"), local("InterBlack"),
    url("Inter-Black.woff2") format("woff2"), url("Inter-Black.woff") format("woff");
}
