.nav-language__link {
  padding: 0;
  padding-top: 10px;

  color: var(--text-color-main);
  font-size: 18px;
  line-height: 1.25;
  text-decoration: none;

  transition: opacity 0.3s ease;
  cursor: pointer;
}

.nav-language__link:hover {
  opacity: 0.8;
}

.nav-language__link:active {
  opacity: 0.6;
}

@media screen and (min-width: 520px) {
  .nav-language__link {
    font-size: 24px;
    line-height: 28px;
  }
}
