.cover__text {
  margin: 0 auto;
  max-width: 290px;
  text-align: center;

  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width: 520px) {
  .cover__text {
    max-width: 360px;

    font-size: 18px;
    line-height: 22px;
  }
}
