.cover__content {
  position: relative;
  padding: 10.5% var(--padding-hor-xs);
}

.cover__content::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  opacity: 0.7;
  background-image: url("../../../images/cover/cover-trains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 520px) {
  .cover__content {
    padding: 15% var(--padding-hor-m);
  }
}

@media screen and (min-width: 992px) {
  .cover__content {
    padding: 19% var(--padding-hor-l);
  }
}

@media screen and (min-width: 1244px) {
  .cover__content {
    padding-top: 245px;
    padding-bottom: 245px;
  }
}
